# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
/dist/
/build/

# Dependency directories
/.pnp/
/.pnp.js

# TypeScript
*.tsbuildinfo

# IDE and Editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# NPM package-lock or Yarn lock files, if you want to exclude them (optional)
# package-lock.json
# yarn.lock

# Test coverage
coverage/

# Optional npm cache directory
.npm/

# Other files to ignore
*.log
*.swp
